.dark {
    --bg-color: #484848;
    --inverted-bg-color: #fafafa;
    --primary-color: #fafafa;
    --secondary-color: #e0e0e0;
    --inverted-primary-color: #484848;
    --inverted-secondary-color: #818080;
}
