.app.dark {
    --bg-color: #033a72;
    --inverted-bg-color: #f8f8f8;
    --primary-color: #52dc52;
    --secondary-color: #adf643;
    --inverted-primary-color: #1b72c9;
    --inverted-secondary-color: #459ff3;
}
