.app.light {
    --bg-color: #fafafa;
    --inverted-bg-color: #055fb9;
    --primary-color: #1b72c9;
    --secondary-color: #459ff3;
    --inverted-primary-color: #52dc52;
    --inverted-secondary-color: #adf643;
}
